.why-reason-container {
    background-color: aquamarine;
}
.why-timeline {
    background-color: black;
}
.why-reason {
    background-color: aliceblue;
    color: black;
    text-align: left;
}
.vietname-flag {
    img {
        width: 100%;
    }
}