.App {
  text-align: center;
  /* background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/7c085e50670927.56088cee3e1fd.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto; */
}

