* {
    box-sizing: border-box;
    // background-color: rgb(233, 243, 205);
    
}
.main-nav {
    a {
        text-decoration: none;
        font-weight: 600;
        font-size: clamp(13px, 2vw, 20px);
        color: rgb(0, 0, 0);
        border-radius: 5px;    // border-right: 10px solid transparent;

        margin:3%;
        &:active{
            color: yellow;
        }
        

    }
    .active-link {
        color: rgb(251, 230, 1);
        background-color: aqua;
    }
    background-color: rgb(242, 208, 35);
    padding: 20px;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 2000;
    
}
.outlet {
    margin-top: 100px;
    // display: flex;
    // justify-content: center;
}
.footer {
    display: flex;
    font-size: clamp(11px, 1.5vw, 13px);
    align-items: center;
    background-color: rgb(191, 183, 136);
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
    // color: rgb(86, 86, 84);

}
.contact-footer {
    width: 20%;
    display: flex;
    flex-direction: column;
    .contact {
        text-align: left;
    }
}
.resources-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    .link {
        display: flex;
        flex-wrap: wrap;
        width: 90%;

        a{
            text-decoration: none;
            margin: 15px;
            color:black;
            // color: rgb(86, 86, 84);
        }
    }

}
.foot{
    font-size: clamp(12px, 1.5vw, 15px);
    background-color: rgb(222, 218, 145);
    padding: 15px 0;

}
// .chatbox {
//     position: fixed;
//     bottom: 0%;
//     right: 2%;
// }

.chat {
    background-color: aliceblue;
    .ai-img-container {

    }
    .ai-img {
        width: 70px;
        // height: 70px;
        position: fixed;
        top: 60%;
        right: 2%;
        // height: 100px;
        border-radius: 50%;
        // border-radius: 20% 60%  60% 10%;
        // filter: hue-rotate(90deg);
    }
}
@media only screen and (max-width: 800px){
    .resources-container{
        .link {
            a{
                margin: 5px;
            }

        }
        
    }
}